<body class="background">
    <!-- TECLADO -->
    <div class="teclado" id="teclado" *ngIf="gato">
        <br><br><br>

        <h1>Preguntados</h1>
        <p><small>Ve hasta donde eres capas de llegar contaremos tus aciertos</small> </p>
        <p>¿Cual es la raza del siguiente gato?</p>

        <div>
            <img src="{{gato.url}}" alt="" style="width: 300px; ">
        </div>
        <!-- Agregar un spinner hasta que carguen las opciones -->
        <div class="spinner-border text-primary" *ngIf="opciones.length < 2 && !gameOver" role="status">
            <span class="visually-hidden">miau</span>
        </div>
        <div class="mt-3" *ngIf="!gameOver && opciones.length > 2">
            <p>Selecciona la respuesta correcta:</p>
            <div class="row">
                <div class="col">
                    <button class="btn btn-outline-success mr-3" (click)="comprobar(opciones[0])">{{opciones[0]}}</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-success" (click)="comprobar(opciones[1])">{{opciones[1]}}</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-outline-success mr-3" (click)="comprobar(opciones[2])">{{opciones[2]}}</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-success" (click)="comprobar(opciones[3])">{{opciones[3]}}</button>
                </div>
            </div>

        </div>

        <div class="mt-3" *ngIf="!gameOver">


        </div>

        <div id="fallos" class="mt-3" *ngIf="!gameOver">Aciertos {{aciertos}}<br>
        </div>

        <div class="d-flex flex-column align-items-center" *ngIf="gameOver">
            <p>Perdiste tu puntaje fue de: {{aciertos}}</p>
            <button type="button" class="btn btn-secondary btn-sm " (click)="reiniciar()">Jugar otra vez</button>
        </div>
    </div>


</body>