<body class="background">

    <!-- TECLADO -->
    <div class="teclado" id="teclado">
        <br><br><br>
        <div class="text-center mb-4">
            <img [src]="imagenAhorcado" alt="Ahorcado" style="max-width: 200px; width: 100%;">
        </div>
        <div *ngIf="!gameOver">
            <p>
                <button class="btn" (click)="seleccionarLetra('q',$event)">Q</button>
                <button class="btn" (click)="seleccionarLetra('w',$event)">W</button>
                <button class="btn" (click)="seleccionarLetra('e',$event)">E</button>
                <button class="btn" (click)="seleccionarLetra('r',$event)">R</button>
                <button class="btn" (click)="seleccionarLetra('t',$event)">T</button>
                <button class="btn" (click)="seleccionarLetra('y',$event)">Y</button>
                <button class="btn" (click)="seleccionarLetra('u',$event)">U</button>
                <button class="btn" (click)="seleccionarLetra('i',$event)">I</button>
                <button class="btn" (click)="seleccionarLetra('o',$event)">O</button>
                <button class="btn" (click)="seleccionarLetra('p',$event)">P</button>
            </p>

            <p>
                <button class="btn" (click)="seleccionarLetra('a',$event)">A</button>
                <button class="btn" (click)="seleccionarLetra('s',$event)">S</button>
                <button class="btn" (click)="seleccionarLetra('d',$event)">D</button>
                <button class="btn" (click)="seleccionarLetra('f',$event)">F</button>
                <button class="btn" (click)="seleccionarLetra('g',$event)">G</button>
                <button class="btn" (click)="seleccionarLetra('h',$event)">H</button>
                <button class="btn" (click)="seleccionarLetra('j',$event)">J</button>
                <button class="btn" (click)="seleccionarLetra('k',$event)">K</button>
                <button class="btn" (click)="seleccionarLetra('l',$event)">L</button>
                <button class="btn" (click)="seleccionarLetra('ñ',$event)">Ñ</button>
            </p>
            <p>
                <button class="btn" (click)="seleccionarLetra('z',$event)">Z</button>
                <button class="btn" (click)="seleccionarLetra('x',$event)">X</button>
                <button class="btn" (click)="seleccionarLetra('c',$event)">C</button>
                <button class="btn" (click)="seleccionarLetra('v',$event)">V</button>
                <button class="btn" (click)="seleccionarLetra('b',$event)">B</button>
                <button class="btn" (click)="seleccionarLetra('n',$event)">N</button>
                <button class="btn" (click)="seleccionarLetra('m',$event)">M</button>
            </p>
        </div>
        <div id="container" class="display-4 text-center"></div>
        <div id="fallos" class="mt-3">Con 6 fallos serás ahorcado<br>
        </div>

        <div class="d-flex flex-column align-items-center" *ngIf="gameOver">
            <button type="button" class="btn btn-secondary btn-sm " (click)="reiniciar()">Jugar otra vez</button>
        </div>
    </div>


</body>