<div class="text-center body">
    <form class="form-signin" [formGroup]="loginForm">
        <img class="mb-4" src="/images/mario.png" alt="" width="150" height="150">
        <h1 class="h3 mb-3 font-weight-normal" style="font-family: 'Comic Sans MS', 'Comic Sans', cursive;">Sala de
            Juegos</h1>
        <label for="inputEmail" class="sr-only">Correo</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Correo" name="email" required autofocus
            formControlName="email">
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" name="password" required
            formControlName="password">
        <!-- <app-alert [color]="colorAlert" [mensaje]="mensaje" *ngIf="submitted"></app-alert> -->
         <app-alert [color]="colorAlert" [mensaje]="mensaje" *ngIf="submitted == true"></app-alert>
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="onLogin()"
            [disabled]="loginForm.invalid">Entrar</button>

        <button class="btn btn-sm btn-secondary btn-block" type="submit" routerLink="/Registro">Registrarme</button>

        <!-- <button class="btn btn-sm btn-secondary btn-block" type="submit" (click)="entrarComoAnonimo()">Entrar como
            anonimo</button> -->
        <button class="btn btn-sm btn-secondary btn-block" type="submit" (click)="entrarComoAdmin()">Entrar como
            admin</button>
        <p class="mt-5 mb-3 text-muted">&copy; Federico Vera</p>
    </form>
</div>